@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Ingredient

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter Ingrédients</title>
</head>
<body>
    <a asp-controller="Accueil" asp-action="Index">Retour à l'accueil</a>
    <form asp-action="AddIngredient" method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Category"></label>
            <input asp-for="Category" />
            <span asp-validation-for="Category"></span>
        </div>
      
        <button type="submit">Envoyer</button>
    </form>
















</body>

</html>