@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RecetteDetailDto
<div asp-validation-summary="All" class="text-danger"></div>


    <a asp-controller="Accueil" asp-action="Index">Retour à l'accueil</a>
    <form asp-action="AddRecette" method="post">
    <div class=" Each-card">
            <label asp-for="Recette.Title"></label>
        <input asp-for="Recette.Title" />
        <span asp-validation-for="Recette.Title"></span>
        </div>
    <div class=" Each-card">
        <label asp-for="Recette.Category"></label>
        <input asp-for="Recette.Category" />
        <span asp-validation-for="Recette.Category"></span>
        </div>
    <div class=" Each-card">
        <label asp-for="Recette.Description"></label>

        <input asp-for="Recette.Description" class=" SizedBox" />
        <span asp-validation-for="Recette.Description"></span>
        </div>
    <div class=" Each-card">
        <label asp-for="Recette.Instructions"></label>
        <input asp-for="Recette.Instructions" />
        <span asp-validation-for="Recette.Instructions"></span>
        </div>
    <div class=" Each-card">
        <label asp-for="Recette.Author"></label>
        <input asp-for="Recette.Author" />
        <span asp-validation-for="Recette.Author"></span>
        </div>
    <div class=" Each-card">
        <select asp-for="Ingredients[0].Id">

            @foreach(IngredientDto ingredient in Model.Ingredients)
            {
            <option value ="@ingredient.Ingredient.Id"> 
                @ingredient.Ingredient.Name
            </option>
            }                
        </select>
    </div>




    <button class=" Each-card" type="submit">Envoyer</button>
    </form>

