@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Recette>

    <h1>Liste des recettes</h1>
    <div class="card-container">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="Each-card">
            <a asp-controller="Recette" asp-action="GetDetail" asp-route-id="@Model[i].Id">
                <p>Recette n°@(i + 1)</p>

                <ul>
                    <li><strong>Titre: @Model[i].Title</strong></li>
                    <li>Description: @Model[i].Description</li>
                </ul>
            </a>
        </div>
        
    }
    </div>
