@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model Recette

    <h1 class="Title-align-center">Recette : @Model.Title</h1>
<p><strong>Recette créee par @Model.Author</strong></p>

    <p class="Center-and-flex">@Model.Description</p>
    <p class="Center-and-flex">@Model.Instructions</p>
    <a asp-controller="Recette"
       asp-action="DeleteRecette"
       
       class="btn btn-danger"
       onclick="return confirm('Voulez-vous vraiment supprimer cette recette ?');">
        Supprimer
    </a>
    <a asp-controller="Recette"
     asp-action="ModifyRecette"
     asp-route-r=@Model
     asp-route-id=@Model.Id
       
       class="btn btn-warning">
        Modifier
    </a>
    


      
   


