html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    flex-direction: row;
    gap: 1%;
}

.Each-card {
    border: solid;
    border-radius: 20px;
    border-color: black;
    
    background-color: #12994C;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 5px;
    height: auto;
    flex-grow: 1;
    word-wrap: break-word;
}
.Title-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Center-and-flex {
    display: flex;
    justify-content: center;
    
    
}


.disBlock {
    display: flex;
    justify-content: space-between
}

.Image{
    width: 150px;
    height: 150px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: white;
}
.BackColor {
    background-color: #99cc00;
}
.BlackColor{
    background-color: black;
}

.NavBarStyle{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 200px;
    
}
.AccueilImage {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
}
.AccueilImage {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
    overflow: hidden; 
}
.AccueilImage img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
}